﻿@using Newtonsoft.Json
@using System.Linq;
@using WVS.GridHelper.Front.JQGrid;
@using WVS.GridHelper.Front.JQGrid.MVCCore;
@model IJQGrid

@{
    var gridId = Model.HtmlIdGrid;
    var pagerId = Model.HtmlIdGridPager;

    var colData = JsonConvert.SerializeObject(Model.JQGridModel(), Formatting.None, new JsonSerializerSettings{NullValueHandling = NullValueHandling.Ignore}); // using JsonNet to exclude null values, or jqGrid does weird stuff when all the fields are present and null.
    var actions = Json.Serialize(Model.JQGridActionModels());
    var actionColumns = Json.Serialize(Model.ActionColumns.ToArray());
    var dataMethod = Model.DataMethod.ToString().ToUpper();
}

<style>
    @await JQGridRenderViewComponent.RenderCSSAsync(Html);
</style>

<table id="@gridId"></table>
<div id="@pagerId"></div>

<script>var exports = exports || {};</script>
<script>//# sourceURL=jqGridRender.js
    @await JQGridRenderViewComponent.RenderJSAsync(Html);
</script>

<script>//# sourceURL=JQGridRender.cshtml
    if (!$) {
        console.log('GridHelper: Error finding jQuery.');
    } else {
        $(function () {
            if (!(JQGridRender && JQGridRender.JQGridRender)) {
                console.log('GridHelper: Error finding JQGridRender module.');
                return;
            }
            new JQGridRender.JQGridRender({
                gridMatchWidthId: '@Model.HtmlIdContainer',
                gridId: '@gridId',
                pagerId: '@pagerId',
                colData: @Html.Raw(colData),
                actions: @Html.Raw(actions),
                actionColumns: @Html.Raw(actionColumns),
                gridKeyName: '@Model.KeyName',
                gridDataUrl: '@Model.DataUrl',
                gridDataMethod: '@dataMethod',
                onRowSelect: '@Model.OnRowSelect'
            }).init();
        });
    }
</script>
