﻿@*
    GeneratePrettyNames : true
    TypeVisibility: internal
    ClassSuffix: _
*@

@*
    Above lines configure RazorGenerator, they must be within the same razor comment block, and must be the first comment.

    Some caveats with code below, move lambda expressions into code: they will not render correctly by RazorGenerator.
    Missing reference problems are deceiving, this generator project is missing some intellisense support for the view.
*@

@using Newtonsoft.Json
@using System.Collections.Generic
@using System.Linq;
@helper RenderJQGrid(System.Web.Mvc.WebViewPage page, WVS.GridHelper.Front.JQGrid.IJQGrid grid, string css, string js)
{
    var html = page.Html; // shortcut to make it easy to copy paste parts below between Framework/Core platforms.
    var gridId = grid.HtmlIdGrid;
    var pagerId = grid.HtmlIdGridPager;
    var gridDataMethod = grid.DataMethod.HasValue ? grid.DataMethod.ToString().ToUpper() : null;

    var config = new WVS.GridHelper.Front.JQGrid.JQGridRenderConfig {
        gridMatchWidthId = grid.HtmlIdContainer,
        gridId = gridId,
        pagerId = pagerId,
        colData = grid.JQGridModel(),
        actions = grid.JQGridActionModels(),
        actionColumns = grid.JQGridActionColumnModels(),
        gridKeyName = grid.KeyName,
        gridDataUrl = grid.DataUrl,
        gridDataMethod = gridDataMethod,
        onRowSelect = grid.OnRowSelect,
        hasSubGrid = grid.HasSubGrid,
        onSubGridRowExpanded = grid.OnSubGridRowExpanded,
    };
    // using JsonNet to exclude null values, or jqGrid does weird stuff when all the fields are present and null.
    var configJson = JsonConvert.SerializeObject(config, Formatting.None, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
    ;

    ;

if (!string.IsNullOrWhiteSpace(css)) {
    <style>
    @html.Raw(css)
    </style>
}

<table id="@gridId"></table>
<div id="@pagerId"></div>

if (!string.IsNullOrWhiteSpace(js))
{
    <script>var exports = exports || {};</script>
    <script>//# sourceURL=jqGridRender.js
    @html.Raw(js)
    </script>
}

@* Initialize and instantiate grid on load. Needs jQuery and the JQGridRender module. *@
<script>//# sourceURL=JQGridHelper.cshtml
    if (!$) {
        console.error('GridHelper: Error finding jQuery.');
    } else {
        $(function () {
            if (!(JQGridRender && JQGridRender.JQGridRender)) {
                console.error('GridHelper: Error finding JQGridRender module.');
                return;
            }
            var gridRenderConfig = @html.Raw(configJson) || undefined;
            console.debug('GridHelper: Grid config for ' + '@gridId' + ':');
            console.debug(gridRenderConfig);
            if (!gridRenderConfig) {
                console.error('GridHelper: Null configuration json.');
                debugger;
                return;
            }
            new JQGridRender.JQGridRender(gridRenderConfig).init();
        });
    }
    </script>
}
