﻿
span.spacer {
    border-right: 1px solid lightgray;
    margin: 0 10px;
}

div.gridActionContainer {
    display: inline-block;
    min-width: 16px;
}

div.gridActionContainer > a > div.gridAction {
    display: inline-block;
}

div.gridActionContainer > a > div.gridActionContent {
    text-align: center;
    padding-top: 2px;
    font-size: smaller;
    max-width: 20px;
    overflow: hidden;
}

div.gridActionContainer > a > div.gridActionContent.gridActionContentOverlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding-right: 2px;
}

div.gridActionContainer > a > div.gridActionContent.gridActionContentSide {
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
}

div.gridActionContainer > a > div.gridActionContent.gridActionContentSideLeft {
    text-align: right;
    padding-top: 3px;
    padding-right: 1px;
}

div.gridActionContainer > a > div.gridActionContent.gridActionContentSideRight {
    text-align: left;
    padding-left: 1px;
}

div.gridActionContainer > div.gridAction {
    width: 16px;
}

div.gridActionSpacer {
    display: inline-block;
    border-right: 1px solid lightgray;
    margin: 0 10px;
}
