﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GridHelper MVC Demo/Sandbox</title>

    @Styles.Render("~/App_Themes/DCR/bundle")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/DCR")

    @RenderSection("scripts", required: false)

</body>
</html>
