﻿@using Demo.Controllers
@model Demo.Models.DemoViewModel

@{
    switch ((DemoController.JQGridFlavor)Model.Flavor)
    {
        case DemoController.JQGridFlavor.DCRJQGrid:
            Layout = "~/Views/Shared/_LayoutDCR.cshtml";
            break;
        case DemoController.JQGridFlavor.FreeJQGgrid:
            Layout = "~/Views/Shared/_LayoutFreeJQGrid.cshtml";
            break;
        default:
            Layout = "~/Views/Shared/_LayoutJQGrid.cshtml";
            break;
    }
}

<h1>GridHelper MVC Demo/Sandbox</h1>

<ul>
    @foreach (int x in Enum.GetValues(typeof(DemoController.JQGridFlavor))) {
        <li>
        @Html.ActionLink(((DemoController.JQGridFlavor) x).ToString(), "Index", "Demo", new {
            flavor = x,
            backend = Model.Backend,
        }, new {
            style = x == Model.Flavor
                ? "font-weight: bold;"
                : null
        })
        </li>
    }
</ul>

<ul>
    @foreach (int x in Enum.GetValues(typeof(DemoController.BackendFlavor))) {
        <li>
        @Html.ActionLink(((DemoController.BackendFlavor)x).ToString(), "Index", "Demo", new {
            flavor = Model.Flavor,
            backend = x,
        }, new {
            style = x == Model.Backend
                ? "font-weight: bold;"
                : null
        })
        </li>
    }
</ul>
