﻿.investigationBody .editor-block {
    height: 1.75em;
}

.investigationFooter {
    margin-top: 7px;
    text-align: right;
}

    .investigationFooter > span {
        margin-left: 1em;
    }

    .investigationFooter span {
        text-decoration: none;
    }

        .investigationFooter span:hover {
            text-decoration: underline;
            cursor: pointer;
        }

#investigationsContainer .investigationWrapper {
    border: 1px solid #e7e7e7;
    margin: 0.5em;
    padding: 0.5em;
}

#eventsContainer .eventWrapper {
    border: 1px solid #e7e7e7;
    margin: 0.5em;
    padding: 0.5em;
}

/*ASA status*/
#infoContainer .ASAheaderInfoCol {
        display: inline-block;
        vertical-align: top;
        height: auto;
        width: 240px;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 1.5em;
    }

/*Program year filter drop down list*/
#programYearddl {
    margin-right: 10em;
}

/*Create New Complaint button*/
#addComplaintButton {
    float:right;
}

#infoContainer .ASAheaderInfoCol .editor-block {
    height: 1.5em;
}

#infoContainer .ASAheaderInfoCol .editor-label {
    /*width: 110px;*/
    padding-right:10px;
}

.validationInfo {
    color: dodgerblue;
    font-weight:500;
}

.validationError {
    color: indianred;
    font-weight:700;
    font-style:italic;
}

/******** Complaints Map ***************/
#mapContainer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#mapContainer td {
    padding: 0 2px;
}

#complaintMapIssueGrid table {
    border-collapse: collapse;
}

#complaintMapIssueGrid tr {
    margin: 4px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

    #complaintMapIssueGrid tr:hover td {
        border-top: solid 2px #0094ff;
        border-bottom: solid 2px #0094ff;
    }

#borderContainerTwo {
    width: 100%;
    height: 100%;
}

/* Hide default InfoWindow buttons*/
.esriPopup .actionsPane .zoomTo {
    display: none;
}

.esriPopup .titleButton.maximize {
    display: none;
}

