﻿#Instance
{
	width:960px;
	overflow:hidden;
	border:solid 1px black;
	min-height:250px;
	background-color:#F1F8FF;
}

#InstanceNavigation
{
	width:120px;
	float:left;
	padding-top:5px;
}

#InstanceNavigation a
{
	display:block;
	padding:5px 10px;
	margin:1px 0px;
}

#InstanceNavigation a:hover,
#InstanceNavigation a.highlight
{
	background-color:black;
	color:White;
	background-image: url(images/gridHeader-bg.gif);
}

#InstanceNavigation input
{
	margin:5px 10px;
	display:block;
}

#InstanceEditor
{
	width:819px;
	min-height:365px;
	overflow:hidden;
	background-color:White;
	padding:10px;
	border-left:solid 1px black;
}

.certificationInput
{
	width:90px;
}

/* Mapping
----------------------------------------------------------*/

#mapContainer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#mapContainer td {
    padding: 0 2px;
}

#componentGrid table {
    border-collapse: collapse;
}

#componentGrid tr {
    margin: 4px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

    #componentGrid tr:hover td {
        border-top: solid 2px #0094ff;
        border-bottom: solid 2px #0094ff;
    }

#borderContainerTwo {
    width: 100%;
    height: 100%;
}
/* Hide default InfoWindow buttons*/
.esriPopup .actionsPane .zoomTo {
    display: none;
}

.esriPopup .titleButton.maximize {
    display: none;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
/*
#quickSearch {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 25;
}

#basemapPicker {
    position:absolute; 
    right:15px; 
    top:45px; 
    z-Index:25;
}
*/
        
#mapLoadingThrobber {
    display:none; 
    bottom:25px; 
    left:25px; 
    position:absolute; 
    z-index:25
}

.loadingThrobber-small {
    background: url("images/ajax-loaderSmall.gif") no-repeat center center transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 5px;
}