﻿/* Main Navigation */
#ribbonArea {
    position:relative;
}
.RibbonTabStyle
{
	padding-top: 0px;
	background:url(images/tabs-sprite3.gif) repeat-x left -78px;
	height:30px;
}

/*.ribbonTabContainer
{
	height:28px;
	overflow:hidden;
}

.ribbonTabContainer .tab 
{
	font-size:1.2em;
	color:#FFFFFF;
    margin-left: 25px;
}

.ribbonTabContainer .left 
{
	
}
.ribbonTabContainer .right 
{
	
}*/

.RibbonTabStyle .ajax__tab_default .ajax__tab_header 
{
	font-size:1.2em;
	color:#FFFFFF;
    margin-left: 25px; /* move the header (first tab) to the right 25 pixels */
}


.RibbonTabStyle .ajax__tab_default .ajax__tab_active .ajax__tab_outer,
.RibbonTabStyle .ajax__tab_default .ajax__tab_header .ajax__tab_outer,
.RibbonTabStyle .ajax__tab_default .ajax__tab_hover .ajax__tab_outer
{
	
    height:26px;
    margin-right:8px;
    margin-top:2px;
}


.RibbonTabStyle .ajax__tab_default .ajax__tab_active .ajax__tab_inner,
.RibbonTabStyle .ajax__tab_default .ajax__tab_header .ajax__tab_inner,
.RibbonTabStyle .ajax__tab_default .ajax__tab_hover .ajax__tab_inner
{
    height:26px;
    margin-left:10px; /* offset the width of the left image */ 
    overflow:hidden;
}


.RibbonTabStyle .ajax__tab_default .ajax__tab_header .ajax__tab_tab
{
	margin-right:0px;
	margin:0px 12px 4px 4px;
	padding-top: 4px;
    height: 22px;
}


.RibbonTabStyle .ajax__tab_default .ajax__tab_active .ajax__tab_tab,
.RibbonTabStyle .ajax__tab_default .ajax__tab_hover .ajax__tab_tab
{
	margin-right:0px;
	margin:0px 12px 4px 4px;
	padding-top: 4px;
	background:url(images/tabs-sprite3.gif) repeat-x left -26px;
    height: 22px;
}


.RibbonTabStyle .ajax__tab_container
{
    background:url(images/tabs-sprite3.gif) repeat-x left -78px;
}


.RibbonTabStyle .ajax__tab_hover .ajax__tab_outer,
.RibbonTabStyle .ajax__tab_active .ajax__tab_outer 
{
    background:url(images/tabs-sprite3.gif) no-repeat left top;
    color: #333333;
}

.RibbonTabStyle .ajax__tab_hover .ajax__tab_inner,
.RibbonTabStyle .ajax__tab_active .ajax__tab_inner 
{
    background:url(images/tabs-sprite3.gif) no-repeat right -52px;
    height: 26px;
}

/* Ribbon */

.ribbon
{
	width:100%;
	height:108px;
	display:inline-block;
}

.ribbonContentInactive
{
    width:100%;
}

.ribbonContentActive
{
    width:1020px;
    position:absolute;
    top:-13px;
    left:0px;
    z-index:49;
}

.ribbonLeft
{
	background:transparent url(images/static-20090109.png) no-repeat scroll 0 0;
	float:left;
	height:108px;
	width:5px;
}

.ribbonMiddle
{
	background:transparent url(images/horizontal.gif) repeat-x scroll 0 0;
	float:left;
	height:108px;
	width:971px!important;
}

.ribbonRight
{
	background:transparent url(images/static-20090109.png) no-repeat scroll -5px 0;
	float:left;
	height:108px;
	width:5px;	
}

.ribbonMiddle .group
{
	float:left;
	font-size:11px;
	height:94px;
	margin:4px 5px 0 0;
}

.ribbonMiddle .group .left
{
	background:transparent url(images/static-20090109.png) no-repeat scroll -10px 0;
	float:left;
	height:94px;
	width:6px;
}

.ribbonMiddle .group .middle
{
	background:transparent url(images/horizontal.png) repeat-x scroll 0 -108px;
	float:left;
	height:94px;
	text-align:center;
	width:auto;
}

.ribbonMiddle .group .right
{
	background:transparent url(images/static-20090109.png) no-repeat scroll -16px 0;
	float:left;
	height:94px;
	width:6px;
}

.ribbonMiddle .group .middle  div.separator
{
	display:block;
	background:#FFFFFF url(images/static-20090109.png) no-repeat scroll 0 -108px;
	height:68px;
	width:1px;
	margin-top:7px;
}

.ribbonMiddle .group .middle .content_label
{
	color:#666666;
	text-align:center;
	font-size: 11px;
	margin-top:2px;
	padding-top: 2px;
	clear:both;
}

.ribbonMiddle .group .middle .caption 
{
	color:#666666;
	font-size:11px;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
	text-align:center;
	text-decoration: none;
}

.ribbonMiddle span.title span.caption {
	display: block;	
}

.ribbonMiddle .group .middle img
{
	background-image: url("images/icons-sprite3.gif");
	border-style:none;
	height: 25px;
	width: 25px;
    margin:10px 0 10px 0;
}


.tabInactiveMiddle
{
    width:966px; 
    float:left;
	background: url("images/background-subnav.gif") repeat-x;
	background-position:0px -25px; 
	height:25px;
}
.tabInactiveLeft
{
    width:8px; 
    float:left;
	background: url("images/background-subnav.gif") repeat-x;
	background-position:0px 0px;
	height:25px;
}
.tabInactiveRight
{ 
    width:8px; 
    float:left;
	background: url("images/background-subnav.gif") repeat-x;
	background-position:0px -50px; 
	height:25px;
}
.ribbonContentItem
{
    width:100%; 
    position:absolute; 
    top:13px; 
    left: 0px; 
    z-index:51;  
    display:none;
}
#ie6MenuIFrame
{
    border-style:none; 
    width: 982px; 
    height: 100px; 
    position:absolute; 
    top:12px; 
    left: 0px; 
    z-index:50; 
    display:none;
}
#breadcrumbContainer {
	margin-top: -4px;
}
#ribbonArea .ribbonMiddle a {
	text-decoration: none;
}