﻿html
{
    overflow-x:hidden;
    overflow-y:auto;
}
body
{
    overflow-x:hidden;
	padding: 0px;
	margin: 0px;
	background-color: #7b7a80;
	text-align: center;
    /*Training background-color: #00a;*/
    /*Test background-color: #a00;*/

}

/*Properly align cbs with labels*/
input {
    vertical-align: -3px;
}


body, table,  p, input, select, textarea, a
{
	font:12px Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	text-decoration : none;
	color: #333333;
}

a, a:link, a:visited, a:hover, a:active
{
	 text-decoration: underline;
	 color: Blue;
}

a.disabled, a.disabled:link, a.disabled:visited, a.disabled:hover, a.disabled:active {
	color: Gray !important;
}

abbr {
	border-bottom: 1px dotted inherit;
	cursor: help;
}

tr.gridHeader th abbr {
	border-bottom-color: White;
}

.header { background-color:#FFFFFF; table-layout:fixed; width:100%;}
.row { background-color:#dddddd; table-layout:fixed; width:100%;}
.row:hover { background-color:#fed27b; }
.row:hover .even { background-color:#fff8da; }
.row:hover .odd { background-color:#fff8da; }
.even { background-color:#f1f8ff; }
.odd { background-color:#ffffff; }
.row .edit input { display:none; }
.row .edit select { display:none; }
.row:hover .edit input { display:block; }
.row:hover .edit select { display:block; }
.row .edit span { display:block; }
.row:hover .edit span { display:none; }

a:focus 
{
	outline-style: none;
}


.modalBackground {
    background-color:Gray;
    filter:alpha(opacity=50);
    height: 100%;
    left: 0;
    opacity:0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Hack for IE6 */
* html div.modalBackground {
	height: auto;
	position: absolute !important;	
}

.modalBox {
	position: fixed !important;	
}

/* Hack for IE6 */
* html div.modalBox {
	position: absolute !important;	
}

/* Only applies to IE6 */
iframe.modaliFrame {
	position: absolute !important;	
}

div#container
{
	margin-left: auto; 
	margin-right: auto;
	width: 985px;
} 


div#container2
{
	border: solid 1px #333333;
    padding:1px;
    background-color:#ffffff;
    overflow:hidden;
    text-align:left;
}


div#container5
{
    overflow:hidden; 
    margin-top: 30px; 
    padding:0px 8px 8px 8px; 
    min-height:400px;
}

div#header
{
	background: #000000 url("images/dcrbanner.jpg") no-repeat 1px 5px;
	width:100%;
	height:60px;
}


.pageTitle
{
	display:block;
	padding-top: 10px;
	padding-bottom: 4px;
	font-size: 14px;
	font-weight:bold;
	color:#563725;
}

.sectionTitle
{
	font-size: 14px;
	font-weight:bold;	
}

.dashboardTitle {
    margin: 10 0 10 10;
    background-image: url(images/hr.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding-bottom : 5px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #4F92EF;
}

/* Breadcrumb Ribbon */
.breadcrumbRibbon
{ 
	margin-left: 5px;
	padding: 3px 0 0 4px; 
	color: Blue; /*This is our color on the text which isn't a link. We want' they to be light grey */ 
} 

.breadcrumbRibbon li { 
	float: left; 
	display: inline; 
	margin-right: 4px; 
} 

.breadcrumbRibbon a { 
	color: Blue; /* Our breadcrumb links are going to be white */ 
	font-weight: normal; /* And bold */ 
	padding-right: 2px; /* We need to add some padding to the right of the link. This space is where the background image is going to be shown. */ 
	text-decoration: none; 
}
 
.breadcrumbRibbon a:link, .breadcrumbRibbon a:visited, .breadcrumbRibbon a:hover, .breadcrumbRibbon a:active
{
	 text-decoration: underline;
	 color: #3b72be;
}


/* Breadcrumb */
.breadcrumb
{
	margin-left: 15px;
}

.breadcrumb li
{
	padding: 3px;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb a:active
{
	 text-decoration: underline;
	 color: Blue;
}



/* Sub Tabs */

.DataTabStyle
{
}



.DataTabStyle .ajax__tab_body 
{
	border:1px solid #CCCCCC;
	border-top:0; 
	padding:8px;
	background-color:#ffffff; 
}

/* Grid */
.gridOuter
{
	padding: 1px;
	
}

.grid
{
	border-collapse: collapse;	
}

.gridHeader
{	
	/* background-image: url(images/gridHeader-bg.gif);*/
	 background-position: left center;
	 background-repeat: repeat-x;
	 background-color: #696969;
	 color: white;	 	
	padding: 4px;
	font-weight:normal;	
}

.gridHeader th
{			
	color: white;	 	
	padding: 4px;
	font-weight:normal;	
	border: solid 1px #C3C3C3;	
}

.gridHeader td
{			
	color: white;	 	
	padding: 4px;
	font-weight:normal;	
	border: solid 1px #C3C3C3;	
}

.gridFooter
{	
	background-color: #F2F3F3;
}

.gridFooter td
{				 	
	padding: 4px;
	font-weight:normal;	
	border: solid 1px #C3C3C3;	
}

.gridHeader a:link, .gridHeader a:visited, .gridHeader a:active
{	
	color: white;
	font-weight : normal;	
	text-decoration : underline;
}

.gridHeader a:hover
{	
	color: #FFAA00;
	font-weight : normal;	
	text-decoration : underline;
}

.gridItem
{
	background-color: #f1f8ff;	
	cursor: pointer; 	
}
.gridItem td
{
	padding-left: 3px;  	
	padding-right: 3px;  	
	padding-top: 5px;  	
	padding-bottom: 5px;
	border: solid 1px #D0D0D0;  	
}
.gridAltItem
{
	background-color: #FFFFFF; 
	cursor: pointer;
}
.gridAltItem td
{
	padding-left: 3px;  	
	padding-right: 3px;  	
	padding-top: 5px;  	
	padding-bottom: 5px;
	border: solid 1px #D0D0D0;
}

.gridItem a:link, .gridItem a:visited, .gridItem a:hover, .gridItem a:active
{	
	color : blue;	
	text-decoration : underline;
}

.gridAltItem a:link, .gridAltItem a:visited, .gridAltItem a:hover, .gridAltItem a:active
{	
	color : blue;	
	text-decoration : underline;
}

.gridItem:hover, .gridAltItem:hover 
{ 
	background-color:#fff8da;
}

.gridItem:hover td, .gridAltItem:hover td 
{ 
	/*border-top: solid 2px #fed27b;
	border-bottom: solid 2px #fed27b;*/	
}

/* tables nested within grids should not appear to have a hover behaviour*/    
.gridItem:hover td td, .gridAltItem:hover td td
{ 
    /*border-top: solid 2px #fff8da;
    border-bottom: solid 2px #fff8da;*/
}

.gridSelectedItem
{
	background-color:#fed27b;
}

.gridSelectedItem td
{
	padding-left: 3px;  	
	padding-right: 3px;  	
	padding-top: 1px;  	
	padding-bottom: 1px;  	
}

.gridPager
{
	background-color: #7E7E7E;
	color:white;
}

.gridPager td
{
	padding: 2px;
	text-align: right;
	color:white;
}
/* AutoComplete */

.ac_completionList 
{  
	margin : 0px!important;
	background-color : #FFFFFF;
	color : #000000;
	border : buttonshadow;
	border-width : 1px;
	border-style : solid;
	cursor : 'default';
	overflow : auto;
	height : 200px;
    text-align : left; 
    list-style-type : none;
    padding : 1px;
}
.ac_listItem {padding-top:1px;padding-bottom:1px;width:100%;}
.ac_highlightedItem {background-color: #ffff99;color: black;padding-top:1px;padding-bottom:1px;width:100%;cursor:pointer;}  



/* DynamicGrid Control */
.Addresses .DynamicGrid
{
    width:inherit;
}
.Addresses .DynamicGrid .EditPanel .Inner 
{
    width:inherit;
    padding:0px;
    margin:0px;   
}
.DynamicGrid
{
    width:100%;
}

.DynamicGrid table
{  
    table-layout:fixed;
}

.DynamicGrid .DisplayMode .DisplayPanelContent .row .even { background-color:#f1f8ff; }
.SelectMode .DisplayPanelContent .row .even { background-color:#CFCEAF; }
.DynamicGrid .DisplayPanelContent .rowhover .even { background-color:#fff8da!important; }
.DynamicGrid .DisplayPanelContent .rowhover .odd { background-color:#fff8da!important; }
.DynamicGrid .DisplayPanelContent .rowhover { border: 2px solid #fed27b!important; }
.DynamicGrid .DisplayPanelHeader .even { background-color:#d3d3d3; }
.DynamicGrid .DisplayPanelHeader .odd { background-color:#e2e2e2; }
.DynamicGrid .DisplayPanelContent .row { border: 2px solid #ffffff; }
.DynamicGrid .MultiSelectColumn { width:30px; }

.DynamicGrid .DisplayPanelContent .DynamicGridMenu
{
    position:absolute; 
    display:none;
    float:right;
    height:0px; 
    top:0px;
    width:0px;
    left:70%; 
}

.DynamicGrid .DisplayPanelContent .DynamicGridMenu a
{
    display:block; 
    padding:3px 8px; 
    margin-right:1px;
}

.DynamicGrid .DisplayPanelContent .DynamicGridMenu .right
{
    background-image: url("images/DynamicGridMenu_right.gif");
    width:19px;
    height:24px;
}

.DynamicGrid .DisplayPanelContent .DynamicGridMenu .middle
{
    background:transparent url("images/DynamicGridMenu_middle.gif") repeat-x scroll 0 0;
    height:24px;
}

.DynamicGrid .DisplayPanelContent .DynamicGridMenu .left
{
    background-image: url("images/DynamicGridMenu_left.gif");
    width:19px;
    height:24px;
}

/*.DynamicGrid .EditPanel .Inner 
{ 
    padding: 10px; 
    width:90%;
    margin:0px 2%;
}*/
.DynamicGrid .EditPanel .Inner .EditMenu
{
    display:block;
    clear:both;
    height:40px;
}
.DynamicGrid .EditPanel .Inner .EditMenu .option
{
    float:right;
    text-align:center;
    padding:5px;
    width:80px;
    margin-left:1px;
    background-color:#d3d3d3;
}

.DynamicGrid .DisplayPanel
{
    position:relative;
}

.DynamicGrid .DisplayPanel .Options
{
    display:block; 
    clear:both; 
    height:24px; 
}

.GlobalMenu
{
    float:left;
    margin-left:1px; 
    margin-top:1px;
}

.GlobalMenu .option
{
    background-color:#d3d3d3;
    border: solid 1px #D0D0D0;
    padding:5px 10px;
    height:12px;
    margin-left:1px; 
    text-align:center; 
    float:left;
}

.help-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: -10px
}
.PagingOptions
{
    float:right;
}

.PagingOptions .left
{
    background-image: url("images/TopLeftMenu.gif");
    width:40px;
    height:22px;
    float:left;
}
.PagingOptions .display
{
    float:left;
    background-color:#d3d3d3;
    margin-left:1px;
    text-align:center;
    padding: 4px 8px 4px 8px;
}
.PagingOptions .option
{
    background-color:#d3d3d3;
    float:left;
    margin-left:1px; 
    text-align:center;	     
    padding: 4px 8px 4px 8px;
}
.PagingOptions .option a
{
    display:block;
    width:100%;
    height:100%;
    vertical-align:middle;
}
.PagingOptions .option:hover
{
    background-color:#a2a2a2;
}
.PageBar
{
	margin-top: 2px;
    height:40px;
    clear:both;
}
.PageBar .Inner
{
    float:right;    
    width:auto;
}

.PageBar .left
{
    background-image: url("images/BottomLeftMenu.gif");
    width:40px;
    float:left;
    display:block;
    height:22px;
}

.PageBar .display
{
    float:left;
    background-color:#d3d3d3;
    margin-left:1px;
    text-align:center;
    padding: 4px 8px 4px 8px;
    
}
.PageBar .option
{
    float:left;
    height:22px;
    background-color:#d3d3d3;
    width:30px;
    margin-left:1px; 
    text-align:center; 
}
.PageBar .option a
{
	margin-top: 3px;
    display:block;
    width:100%;
    height:100%;
}
.PageBar .option:hover
{
    background-color:#a2a2a2;
}
.NoResults
{
    padding:25%;
    width:50%;
    overflow:visible;
    text-align:center;
}

.NoResults .option a
{
    font-size:large;
}

/* TabViewControl */
.TabViewControl .menu
{
    display:block;
    float:left;
    width:177px;
    z-index:1;
}

.TabViewControl .menu .option
{
    padding:4px 0;
    margin:2px 0;
    width:176px;
    border-left:solid 1px #D3D3D3;
    background-color:#F3F3F3;
    text-align:center;
}
.TabViewControl .menu .left
{
    background-image: url("images/TabMenuTop.gif");
    width:177px;
    height:20px;
}
.TabViewControl .menu .right
{
    background-image: url("images/TabMenuBottom.gif");
    width:177px;
    height:20px;
}
.TabViewControl .TabContent
{
    border-top : 1px solid #D3D3D3;
    border-left : 1px solid #D3D3D3;
    border-right : 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    margin-left:2px;
    float:left;
    display:block;
    width: 720px;
}

.TabViewControl .TabHeader
{
	background-color: #D3D3D3;
	padding-top: 3px;
	padding-left: 6px;
	padding-bottom: 2px;
}

.TabViewControl .TabContainer
{
    min-height:100px;
    padding: 10px;
    width: 100%;
}

.TabViewControl .DynamicGrid .DisplayPanel
{
    position:relative;
    overflow:visible;
    display:block;
}

.form_line
{
    margin-left:50px;
    margin-top:10px;
}

.form_line .form_label
{
     clear:both;
     display:block;
}

.Wizard
{
	width:80%;
	margin:auto;
}

.jQueryDateWrapper
{
	width:250px;
	overflow:hidden;
}
.jQueryDatePicker
{
	width:92px;
	display:block;
	float:left;
	padding:3px;
	text-align:center;
	border:solid 1px #666666;
	background-color:White;
	height:14px;
}
.jQueryDateButton
{
	width:100px;
	display:block;
	float:left;
	height:22px;
}

.logoutButton
{
   border:solid 1px #666666;
   background-color:#ffffff;
   margin-right:20px;
   text-align:center;
   width:40px;
   padding:3px 10px;
}

.deleteRow
{
    width:50px;
}

.editRow
{
    width:30px;
}
.MultiSelectColumn
{
    width:30px;
}

.gridOuter
{
    width:100%;
}
.grid
{
    width:100%;
}

.detail
{
	font-family:lucida grande,arial,helvetica,sans-serif;
	font-size:11px;
	background-color:#fff;
	border:solid 2px #000;
	padding:4px;
	margin:auto;
	width:500px;
}
.detail .footer
{
	text-align:right;
	padding:8px;
}


/* table style */
.detailgrid
{
	border:solid 1px #ad9e87;
}

/* cell styles */
.detailgrid td
{
	cursor:default;
	height:20px;
    color:#000;
	padding:2px 8px;
	border-right-style:solid;
	border-right-width:1px;
    border-right-color:#f2e8da;		
	border-bottom-style:solid;
	border-bottom-width:1px;	
    border-bottom-color:#f2e8da;	
}

#UpdateInProgress
{
	position:absolute;
	z-index:1000;
	background-color:White;
	text-align:center;
	padding-top:100px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
}


.modalHeader {
	background-color: #FED27B;
	font-weight: bold;
	padding: .2em;
	text-align: center;
}

fieldset {
	margin-top: .5em;
}

fieldset legend {
	color: #999999;
	font-weight: bold;	
	padding-right: 8px;
}

div.formField {
	clear: both;
	/*float: left;*/
	margin-bottom: .4em;
	overflow: auto;
}

div.formField label {
	display: block;
	float: left;
	text-align: right;
	width: 150px;
}

div.formField .value {
	float: left;
	margin-left: .5em;
}

.scroller {
	overflow: auto;
}

.shortLabels div.formField label {
	width: 75px;
}

tr.archived {
	color: Gray;	
}

h2.pageTitle {
	margin-top: 0;
	font-size: 16px;
	font-weight: normal;
	padding-top: 0;
}

/* Loading Mask Styles */
.loadingMask {
	background: White url(./Images/ajax-loader.gif) no-repeat center;
	opacity: .7;
	position: absolute;
}

/********************
*  Notification Bar  *
********************/
#NotificationArea {
    position: relative;
    top: 0px;
}

div.notification {
    color: #fcfbf9;
    text-shadow: 0 1px 0 #353535;
    font-size: 1.6em;
    /*height: 2em;*/
    left: 0;
    line-height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 65;
    font-weight: 600;
    display: none; /*hide on load*/
    margin: 0 auto;
}

div#highlight-confirm {
    background-color: rgba(82, 167, 198, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC52A7C6', endColorstr='#CC52A7C6'); /* IE */
}

div#highlight-success {
    background-color: rgba(62, 143, 62, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC3E8F3E', endColorstr='#CC3E8F3E'); /* IE */
}

div#highlight-alert {
    background-color: rgba(220, 163, 73, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDCA349', endColorstr='#CCDCA349'); /* IE */
}

div#highlight-error {
    background-color: rgba(180, 60, 59, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCB43C3B', endColorstr='#CCB43C3B'); /* IE */
}

.welcome-User {
    color:white;
}

.map-title {
    font-size:16px; 
    text-align:center;
}

.bubblewindow-label {
    display:inline-block;
    min-width:110px;
}

#tocDiv .node-content .icon {
    visibility: visible !important;
}

.jstoolkit-icon-plus-sign:before {
    font-family: FontAwesome;
    content: "\f067";
    cursor: pointer;
}

.jstoolkit-icon-minus-sign:before {
    font-family: FontAwesome;
    content: "\f056";
    cursor: pointer;
}

/*Hides the include legend checkbox on the print tool*/
#printDiv .dijitCheckBox{
    display:none !important;
}

/*Hides the include legend checkbox on the print tool*/
#printDiv .dijitCheckBox+label{
    display:none !important;
}

.requiredMeasure {
    color: #e80c4d;
}

.ddlRole {
    margin-bottom: 5px;
}

/*CalendarExtender css on user edit*/
.cal_Theme .ajax__calendar_header  {
background-color: #ffffff;
margin-bottom: 4px;
}

.cal_Theme .ajax__calendar_title,
.cal_Theme .ajax__calendar_next,
.cal_Theme .ajax__calendar_prev    {
color: #004080;
padding-top: 3px;
}

.cal_Theme .ajax__calendar_body    {
background-color: #ffffff;
    width: 270px;
    height: 175px;
border: solid 1px #77D5F7;
}

.cal_Theme .ajax__calendar_dayname {
text-align:center;
font-weight:bold;
margin-bottom: 4px;
margin-top: 2px;
color: #004080;
}

.cal_Theme .ajax__calendar_day {
color: #004080;
text-align:center;
}

.cal_Theme .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme .ajax__calendar_active  {
color: #004080;
font-weight: bold;
background-color: #DEF1F4;
}

.cal_Theme .ajax__calendar_today   {
font-weight:bold;
}

.cal_Theme .ajax__calendar_other,
.cal_Theme .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme .ajax__calendar_hover .ajax__calendar_title {
color: #bbbbbb;
}

/*admin/users/ edit popup */
.tbNmpCertNumber-addRole {
    width: 50px;
}