﻿.google .ajax__tab_header 
{
	font-size:12px;
    background:transparent url(img/tab-line.gif) repeat-x scroll center bottom;
}
.google .ajax__tab_body 
{
    border:solid 1px #666666;
    border-top:none;
    padding: 8px;
    min-height: 200px;
    overflow:hidden;
} 
/* Active/Hover States */
.google .ajax__tab_active .ajax__tab_outer
{
    margin-right:4px;
	background:url(img/active-tl.gif) no-repeat left top;  
	border-bottom: solid 1px #FFFFFF;  
}
.google .ajax__tab_active .ajax__tab_inner
{
    margin-left:4px;
	background:url(img/active-tr.gif) no-repeat right top;        
}
.google .ajax__tab_active .ajax__tab_tab
{
	margin-right:4px;	
	padding:5px 3px;
	color:#333333;
	background:url(img/active-mid.gif) repeat-x;
	text-decoration:none;
}
/* Regular States */
.google .ajax__tab_outer
{
    margin-right:4px;
	background:url(img/inactive-tl.gif) no-repeat left top; 
	border-bottom: solid 1px #333333;  	
}
.google .ajax__tab_inner
{
    margin-left:4px;
	background:url(img/inactive-tr.gif) no-repeat right top;  	
}
.google .ajax__tab_tab
{
	margin-right:4px;
	padding:5px 3px;
	color:#FFFFFF;
	background:url(img/inactive-mid.gif) repeat-x;
	text-decoration:none;
}
 