﻿
select.form-control {
    min-width: 180px;
}

.gridWrapper {
}

    .gridWrapper .controlsWrapper {
        margin-bottom: 1em;
        text-align: right;
    }


#planTabs th.ui-state-default.ui-th-column.ui-th-ltr {
    border-left: 0 none;
}

.ui-dialog .ui-dialog-title {
    text-align: left;
}


.header-information {
    background: teal;
    /*height: 60px;*/
}

/*wrap jQuery column headers*/
.ui-jqgrid .ui-jqgrid-htable th div, .ui-jqgrid-sortable {
    height: auto;
    overflow: hidden;
    white-space: normal !important;
}

#mainContentWrap {
    height: auto;
    overflow: hidden;
    margin-top: 26px;
    padding: 0px 8px 8px 8px;
    /*min-height: 600px;*/
}

#sideNavigation {
    display: inline-block;
    width: 200px;
    float: left;
    /*height: auto;*/
    /*overflow: auto;*/
    /*margin-left: 1px;
    margin-right: -1px;*/
    /*margin-top: 6px;*/
}

#main-content {
    /*margin-left: 0.5em;*/
    /*background: teal;*/
}

#sideNavigation ul {
    width: auto;
    /* default size. this actual size will be set on load*/
    list-style: none;
    /*position: fixed;*/
    background-color: none;
    border-style: solid;
    border-color: #C5C5C5;
    border-width: 1px 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0;
    margin: 0;
}

    #sideNavigation ul li {
        height: 38px;
        padding: 2px;
        background: #EDEDED;
        border-style: solid;
        border-color: #C5C5C5;
        border-width: 1px 1px 0 0;
        text-align: center;
        color: #666666;
        /*min-height: 45px;*/
        /*line-height: 45px;*/
        font-weight: normal;
        font-size: 13px;
        cursor: pointer;
    }

        #sideNavigation ul li:first-child {
            border-top: none;
        }

        #sideNavigation ul li a,
        #sideNavigation ul li a:active,
        #sideNavigation ul li a:default,
        #sideNavigation ul li a:visited {
            color: #666666;
            text-decoration: none;
            display: block;
            height: 100%;
            min-height: 38px;
            padding-top: 12px;
            outline: none;
        }

            #sideNavigation ul li a:hover {
                color: #ffffff;
            }

        #sideNavigation ul li:hover {
            background: none;
            background-color: #1691b1;
        }

        #sideNavigation ul li.active a {
            color: #333333;
            cursor: pointer;
            outline: none;
        }

        #sideNavigation ul li.active {
            color: #333333;
            font-weight: bold;
            cursor: default;
            border-width: 1px 0 0 0;
            background: #afdce6 url('./Images/tab-arrow.png') no-repeat right center;
        }

#mainContent {
    vertical-align: top;
    overflow: hidden;
    padding-top: 0.5em;
}

#headerContent {
    width: auto;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    height: 100%;
    border-bottom: 1px solid #c5c5c5; 
}


#infoContainer {
    width: auto;
    /*height: 80px;*/
    height:auto;
    /*border-bottom: 1px solid #c5c5c5;*/
    overflow: hidden;
}

    #infoContainer .headerInfoCol {
        display: inline-block;
        vertical-align: top;
        /*height: 54px;*/
        height: 100%;
        width: 250px;
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 1.5em;
    }

        #infoContainer .headerInfoCol .editor-block {
            height: 1.5em;
        }

#globeContainer {
    height: 60px;
    width: 100px;
    margin-left: 0.5em;
    text-align: center;
    float: right;
}

    #globeContainer i {
        cursor: pointer;
    }

        #globeContainer i:hover {
            color: #AFDCE6;
        }

fieldset {
    padding: 0;
    border: none;
    padding-left: 1em;
}

    fieldset legend {
        font-size: 1.5em;
        color: #000;
        margin-left: -0.5em;
        padding-bottom: 0.5em;
    }

.tabHeader {
    border-bottom: 1px solid #c5c5c5;
    margin: 10px;
}

.tabHeader h2{
    display:inline-block;
    margin: 5px 0;
}


.tabHeader button, .tabHeader button, .tabHeader .actionLink {
    float: right;
}

/*#commentsHeader {
    border-bottom: 1px solid #c5c5c5;
    line-height: 34px;
}

#inspectionsHeader {
    border-bottom: 1px solid #c5c5c5;
    line-height: 34px;
}*/

    /*#commentsHeader h2, #inspectionsHeader h2 {
        display: inline;
    }*/


.commentWrapper {
    float: right;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #e7e7e7;
    clear: both;
}

    .commentWrapper .commentHeader {
        text-align: right;
        font-style: italic;
        color: #9e9e9e;
    }

    .commentWrapper .commentBody .errorMessage, .error {
        color: #9d0b2b;
        font-style: italic;
    }

    .commentWrapper .commentBody textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        resize: none;
    }

    .commentWrapper .commentFooter {
        text-align: right;
    }

        .commentWrapper .commentFooter span {
            margin-left: 0.5em;
            cursor: pointer;
        }

.inspectionHeader {
    display: table;
    width: 100%;
}

    .inspectionHeader .editor-block > .editor-label,
    .inspectionHeader .editor-block > .editor-field {
        font-size: 1em;
    }

    .inspectionHeader > div {
        display: table-cell;
    }

        .inspectionHeader > div .editor-block {
            height: 1.75em;
        }

.inspectionFooter {
    margin-top: 7px;
    text-align: right;
}

    .inspectionFooter > span {
        margin-left: 1em;
    }

    .inspectionFooter span {
        text-decoration: none;
    }

        .inspectionFooter span:hover {
            text-decoration: underline;
            cursor: pointer;
        }

#inspectionsContainer .inspectionWrapper {
    border: 1px solid #e7e7e7;
    margin: 0.5em;
    padding: 0.5em;
}


/* Editor block styling */

.editor-block {
    margin: 0.25em auto;
    display: table-row;
    height: 2.5em;
    text-align: left;
}

    .edit-block-group {
        width:33%;
        display:inline-block;        
        margin:0;
        padding:0;
        /*vertical-aligns for IE*/
        vertical-align:top;
    }

    .editor-block > div {
        display: inline-block;
    }

    .editor-block .editor-label,
    .editor-block .editor-field {
        display: table-cell;
    }

    .editor-block .editor-label {
        display: inline-block;
        font-weight: bold;
        font-size: 1.1em;
        /* padding-right: 1em; */
        text-align: left !important;
        padding-bottom: .1em;
        width:150px;        
    }


    .edit-block-group .editor-block .editor-label {
        width:100%;
        vertical-align:middle;        
    }

    .edit-block-group .editor-block .editor-field {
        vertical-align: middle;        
    }

    .editor-block .editor-field {
            
    }

        .editor-block .editor-field .nodata {
            font-style: italic;
            color: #a8a8a8;
        }


        .editor-block .editor-field textarea {
            vertical-align: top;
            resize: none;
            width: 420px;
            height: 100px;
            margin-bottom: 10px;
        }

        .editor-block .editor-field input[type='text'].form-control {
            width: 200px;
        }

        .editor-block .editor-field select.form-control {
            width: auto;
            min-width: 180px;
            padding-right: 4px;
            padding-left: 4px;
            max-width: 220px;
        }

/*css form add investigation dialog*/
     .editor-label label {
         width: 150px;*
         float: left; 
         padding-right:10px;
     }


     /* Editor Suffix Label Style */
     .editor-suffix-label label {
         width: 150px;*
         float: left; 
         padding-right:10px;
         padding-left: 10px;
         font-weight: bold;
     }

     .editor-label input {
         float: left; 
     }

     .edit-block-group .editor-label label {
         width: 100%;          
     }

     .edit-block-group .editor-suffix-label label {
         width: 100%;
         font-weight: bold;
     }



     


form#detailsForm .editor-label {
    width: 160px;
}

.nodata {
    color: #a8a8a8;
    font-style: italic;
}

.fa.fa-phone, fa.fa-fax {
    min-width: 1em;
}

/* End editor block styling */

#rmpWizardStepWrapper {
    margin-bottom: 2em;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#wizardButtonWrapper, #createParticipantButtonWrapper {
    border-top: 1px solid #ccc;
    margin: 1em auto auto;
    padding-top: 1em;
    text-align: center;
    width: 400px;
}

    #createParticipantButtonWrapper button,
    #wizardButtonWrapper button {
        margin: auto 0.5em;
    }

#wizardContent {
    width: 700px;
    margin: auto;
}

    #wizardContent .wizardInputWrapper {
        width: 650px;
        margin: 1.5em auto 0.5em auto;
    }

ul.wizardStepList {
    float: left;
    left: 50%;
    list-style-image: url("../App_Themes/Default/Images/arrowRightGray.gif");
    list-style-type: none;
    margin: 0;
    position: relative;
}

    ul.wizardStepList li {
        color: Gray;
        float: left;
        margin-left: 2.5em;
        padding-left: .5em;
        position: relative;
        right: 50%;
    }

        ul.wizardStepList li.first {
            list-style-image: none;
            margin-left: 0;
            padding-left: 0;
        }

        ul.wizardStepList li.current {
            color: Black;
            font-weight: bold;
        }

/********************
*   Workflow Step List  *
********************/
.workflowContainer {
    text-align: center;
}

ol.editingWorkflowSteps {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

    ol.editingWorkflowSteps li {
        float: left;
        color: #aaa;
        padding-right: 4px;
        list-style-type: decimal;
        list-style-position: inside;
    }

        ol.editingWorkflowSteps li.stepComplete {
            color: #849d7f;
        }

            ol.editingWorkflowSteps li.stepComplete:after {
                color: #038712;
                content: "\f00c"; /* Right Chevron character */
                font-family: FontAwesome;
                font-weight: normal;
                margin: 0 0.7em;
            }

        ol.editingWorkflowSteps li:after {
            color: #aaa;
            content: "\f054"; /* Right Chevron character */
            font-family: FontAwesome;
            font-weight: normal;
            margin: 0 0.7em;
        }

        ol.editingWorkflowSteps li:last-child:after {
            content: none;
        }

        ol.editingWorkflowSteps li.current {
            color: #202020;
            font-weight: bold;
        }

    ol.editingWorkflowSteps ~ * {
        clear: left;
    }


.fileUploadTable {
    width: 100%;
}

    .fileUploadTable .controlsDivider {
        text-align: right;
    }

.fileupload-buttons {
    margin-bottom: 1.5em;
}

.inline-block {
    display: inline-block;
}

.mainFilterWrapper {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
    /*position: relative;
    border-top: 1px solid #E2E2E2;
    margin-bottom: 1em*/
}

    .mainFilterWrapper .mainFilterControls {
        /*position: absolute;*/
        top: -3em;
    }

        .mainFilterWrapper .mainFilterControls > * {
            margin-left: 0.5em;
        }

    .mainFilterWrapper .form-group > * {
        margin-right: 12px;
    }


.filterLeadText {
    display: inline-block;
    width: 3em;
    font-weight: bold;
}

.filter {
    margin: 1em auto;
}

    .filter > .form-group {
        width: 100%;
    }

    .filter .filterSelect {
        width: 12em !important;
    }

    .filter .filterSmallInput, .filter .filterOperatorInput {
        display: inline-block;
    }

    .filter .filterSmallInput {
        width: 7em !important;
    }

    .filter .filterOperatorInput {
        width: 13em !important;
    }

#filtersContainer button {
    float: right;
}

.fa-asterisk:before {
    margin-left: 0.5em;
}

.field-validation-error {
    margin-left: 4px;
}

.text-right {
    text-align: right;
}

a.icon-circle-arrow-left.btn {
    text-decoration: none;
}

#addParticipantDialog > div {
    text-align: left;
}


#submitContainer {
    margin-left: 4px;
    float: left;
    clear: left;
    margin-top: 15px;
}

    #submitContainer div.editor-block {
        font-size: 0.9em;
    }

.ui-autocomplete {
    max-height: 150px !important;
    width: 300px !important;
    overflow-y: auto !important;
    /* prevent horizontal scrollbar */
    overflow-x: hidden !important;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px !important;
    z-index: 104 !important;
}

.ui-autocomplete-loading {
    background: url("./images/ajax-loader-small.gif") no-repeat scroll right center white;
}

/********************
*   Verical JQ Tabs   *
********************/


.ui-tabs-vertical>.ui-tabs-nav {
    padding: 2px;
    float: left;
    width: 20%;
}

.ui-tabs-vertical>.ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical>.ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical>.ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    background: #afdce6 url('./Images/tab-arrow.png') no-repeat right center !important;
}





/********************
*   Grid & Tabs Style  * 12/04/2014
********************/
.ui-jqgrid tr.jqgrow td {
}

#EventDialog.ui-jqgrid tr.ui-row-ltr td {
    border: solid 1px #C5C5C5 !important;
    height: 38px !important;
}

.ui-jqgrid #eventstblCSS {
    background-color: #E6E6E6;
}

.ui-jqgrid #DescTD {
    white-space: pre-wrap !important;
}

.ui-tabs-vertical>.ui-tabs-panel {
    padding: 1px !important;
    float: right;
    width: 78%;
    overflow: hidden;
}

#planTabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-tabs-vertical.ui-helper-clearfix {
    border: none !important;
    padding: 0 !important;
}

    #planTabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-tabs-vertical.ui-helper-clearfix ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        padding: 2px !important;
    }

        #planTabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-tabs-vertical.ui-helper-clearfix ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li.ui-state-default.ui-corner-left .ui-tabs-anchor {
            padding: 1em 20% !important;
            width: 60%;
        }

#planTabs>.ui-tabs-panel.ui-widget-content {
    border: none !important;
}


/********************
*   Throbber Styles   *
********************/

.loadingThrobber-small {
    background: url("./images/ajax-loader-small.gif") no-repeat center center transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0px 5px;
}

.loadingThrobber {
    background: url("./images/ajax-loader.gif") no-repeat center center transparent;
    width: 66px;
    height: 66px;
    display: inline-block;
}

div.loading {
    line-height: 3em;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}

    div.loading div.loadingText {
        vertical-align: top;
    }

/********************
*  Workflow  *
********************/
.workflowContainer {
    margin: 0.5em 0 2em 0;
}


.field-validation-error {
    color: #9D0B2B;
}

.editor-field-required {
    color: #9D0B2B;
}



.icon-help {
    /*light blue accent color - #AAC4CE*/
    /*dark blue accent color - #3E5667*/
    /*color: #3E5667 !important;*/
    cursor: pointer;
    margin-left: -18px;
    margin-right: 5px;
    text-decoration: none !important;
}

/********************
*  Notification Bar  *
********************/
#NotificationArea {
    position: relative;
    top: 0px;
}

div.notification {
    color: #fcfbf9;
    text-shadow: 0 1px 0 #353535;
    font-size: 1.6em;
    /*height: 2em;*/
    left: 0;
    line-height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 65;
    font-weight: 600;
    display: none; /*hide on load*/
    margin: 0 auto;
}

div#highlight-confirm {
    background-color: rgba(82, 167, 198, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC52A7C6', endColorstr='#CC52A7C6'); /* IE */
}

div#highlight-success {
    background-color: rgba(62, 143, 62, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC3E8F3E', endColorstr='#CC3E8F3E'); /* IE */
}

div#highlight-alert {
    background-color: rgba(220, 163, 73, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDCA349', endColorstr='#CCDCA349'); /* IE */
}

div#highlight-error {
    background-color: rgba(180, 60, 59, 0.80);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCB43C3B', endColorstr='#CCB43C3B'); /* IE */
}

#addressesWrapper {
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 220px;
}

    #addressesWrapper .addressOption input {
        display: inline-block;
        margin-right: 1em;
        vertical-align: top;
    }

    #addressesWrapper .addressOption {
        display: inline-block;
        margin-bottom: 2em;
        width: 32%;
    }

        #addressesWrapper .addressOption .addressContainer {
            display: inline-block;
            max-width: 155px;
            vertical-align: top;
        }

            #addressesWrapper .addressOption .addressContainer > span {
                display: block;
                margin: 1px auto;
            }

.ui-dialog {
    text-align: left;
}

.viewReportLink {
    display: inline-block;
    margin: 5px 0 0 25px;
}

#viewEventLogLink, #viewStatusUpdateLink {
    float: right;
    margin: 5px 5px 15px 0;
}

#viewEventLogLink:before, #viewStatusUpdateLink:before {
        color: blue;
        content: "\f073"; /* calendar icon */
        font-family: FontAwesome;
        font-weight: normal;
        margin: 0 0.7em;
        text-decoration: none;
}

.link {
    color: Blue !important;
    cursor: pointer;
    text-decoration: underline;
}

.action-link {
    color: Blue !important;
    cursor: pointer;
    text-decoration: underline;
}

#participantReviewWrapper .editor-block .editor-field {
    width: 150px;
}


.spacer {
    border-right: 1px solid lightgray;
    margin: 0 10px;
}

.landUnitTreeLabel {
    display: inline-flex;
    width: 140px;
}

.collectionHeader {
    border-bottom: 1px solid #c5c5c5;
}

.addToCollectionLink {
    float: right;
}

.deficiencyDescriptionInput {
    width: 85%;
    height: 50px;
    margin-top: 10px;
}

.inspectionDeficiencies {
    display: block !important;
}

#DeficienciesFound {
    min-width: 125px;
    width: 125px;
}

.failedInspection {
    background-color: #FFCEC7;
}

.passedInspection {
    background-color: #C7FFBD;
}

.pendingInspection {
    background-color: #F5FFB3;
}

#soilDialogTableWrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#soilComponentTableWrapper,
#soilComponentBottomTableWrapper {
    min-height: 200px;
}

    #soilComponentBottomTableWrapper #bottomSwitcherControlWrapper {
        margin-bottom: 0.5em;
    }

        #soilComponentBottomTableWrapper #bottomSwitcherControlWrapper a {
            font-weight: bold;
        }

        #soilComponentBottomTableWrapper #bottomSwitcherControlWrapper label {
            font-weight: bold;
        }


        #soilComponentBottomTableWrapper #bottomSwitcherControlWrapper a.notSelected {
            text-decoration: none;
            color: #00F;
            font-weight: normal;
        }

            #soilComponentBottomTableWrapper #bottomSwitcherControlWrapper a.notSelected:hover {
                text-decoration: underline;
            }


.certificateRevoked {
    color: darkred;
    font-size: 20px;
}

.planArchived {
    color: darkgray;
    font-size: 20px;
}

.jstree-default .jstree-wholerow-clicked {
    background: none !important;
}

#landUnitTree{
    /*max-width:735px;
    background-color:bisque;*/
}

#landUnitHeader {
    padding-left: 25px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 4px;
}

    #landUnitHeader > div {
        font-size: 12px;
    }

    #landUnitHeader #identifierColumn, #landUnitTree #identifierColumn, #identifierColumnHeader {
        display: inline-block;
        width: 100px;
    }

    #landUnitHeader #landUnitTypeColumn, #landUnitTree #landUnitTypeColumn, #landUnitTypeColumnHeader {
        display: inline-block;
        width: 325px;
    }

    #landUnitHeader #landUnitNameColumn, #landUnitTree #landUnitNameColumn, #landUnitNameColumnHeader {
        display: inline-block;
        width: 125px;
    }

    #landUnitHeader .landUnitAreaColumn, #landUnitTree .landUnitAreaColumn, .landUnitAreaColumnHeader {
        display: inline-block;
        width: 80px;
        white-space: normal;
        padding-right: 5px;
    }


#phaseWrapper {
    font-weight: bold;
    color: red;
    text-align: right;
    padding: 0.5em;
}


.section-Title {
    border-bottom: 1px solid #c5c5c5;
    font-size: 1.1em;
    margin: 0 0 10px 0;
    font-weight: bold;
    padding-left: 0 !important;
}

.section-Header {
    font-weight: bold;
    white-space: nowrap;
    /*font-size: 0;*/
    margin-bottom: 4px;
}

    .section-Header div {
        /*display:inline-block;*/
    }

.section-Row {
    padding-left: 25px;
    width: auto;
    line-height: 20px;
}

    .section-Row .colspan1 {
        display: inline-block;
        width: 8%;
    }

    .section-Row .colspan2 {
        display: inline-block;
        width: 16%;
    }

    .section-Row .colspan3 {
        display: inline-block;
        width: 24%;
    }

    .section-Row .colspan4 {
        display: inline-block;
        width: 32%;
    }

    .section-Row .colspan5 {
        display: inline-block;
        width: 40%;
    }

    .section-Row .colspan6 {
        display: inline-block;
        width: 48%;
    }

    .section-Row .colspan7 {
        display: inline-block;
        width: 56%;
    }

    .section-Row .colspan8 {
        display: inline-block;
        width: 64%;
    }

    .section-Row .colspan9 {
        display: inline-block;
        width: 72%;
    }

    .section-Row .colspan10 {
        display: inline-block;
        width: 80%;
    }

    .section-Row .colspan11 {
        display: inline-block;
        width: 88%;
    }

    .section-Row .colspan12 {
        display: inline-block;
        width: 100%;
    }

.affectedLandunitContainer {
    margin-left: 43px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.component-Row {
    background-color: #E0E0E0;
}

.componentToggleButton {
    cursor: pointer;
    width: 12px;
}

#editPlanToBMPDialog {
}

#planToBMPInstanceForm div.affectedLandunitContainer textarea {
    width: 700px;
    height: 75px;
}

#planToBMPInstanceForm div.affectedLandunitContainer .narrative-template {
    width: 700px;
    max-width: 700px;
}

.jstree-anchor {
    height: auto !important;
    white-space: normal !important;
}

.jstree-anchor .requirements {
    max-width: 600px;    
    display: inline-block;
}

.jstreeSelect {
    margin-right: 0.5em !important;
}


.form-control.has-error {
    border: 2px solid #A94442 !important;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;*/
}


/********************
*  Plan Map   *
********************/

#mapContainer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#mapContainer td {
    padding: 0 2px;
}

#landUnitsGrid table {
    border-collapse: collapse;
}

#landUnitsGrid tr {
    margin: 4px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

    #landUnitsGrid tr:hover td {
        border-top: solid 2px #0094ff;
        border-bottom: solid 2px #0094ff;
    }

#borderContainerTwo {
    width: 100%;
    height: 100%;
}
/* Hide default InfoWindow buttons*/
.esriPopup .actionsPane .zoomTo {
    display: none;
}

.esriPopup .titleButton.maximize {
    display: none;
}

/*label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }

    .editor-field-required {
        color: red;
    }*/


.monthYearDatepicker .ui-datepicker-calendar {
    display: none !important;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/********************
*  NMP Biosolid   *
********************/
.biosolidDetailLabel {
    display: inline-block;
    width: 230px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
    padding-bottom: .2em;
	padding-right: 1.0em;		
}

/********************
*  NMP Biosolid   *
********************/
.manureTestEventMeasurementDetailLabel {
    display: inline-block;
    width: 230px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: right;
    padding-bottom: .2em;
    padding-right: 1.0em;		
}

.test-event-date-picker {
    width: 90px;
}

/********************
*  Fieldset Wrapper  *
********************/
.fieldSetWrapper{
    border: 1px solid #e7e7e7;
    margin: 0.5em;
    padding: 0.5em;
}


/********************
*  Hides the spinner for input number elements: http://stackoverflow.com/a/4298216/386619
********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
} 

input:invalid {
    box-shadow: 0 0 1.5px 1px red;
}

/********************
*  TODO Style 
********************/
.todo {
  background:lightblue;
  outline: #00FF00 dotted thick;
}

