﻿@page
@using WVS.GridHelper.Front.JQGrid.MVCCore;
@model DemoCore.Pages.GridModel

<h2>GridHelper Core</h2>

<p>Grid goes here.</p>

@{
    const string gridContainerId = "demoGridContainer";
    Model.Grid.HtmlIdContainer = gridContainerId;

    var actionJsCallback = $"{gridContainerId}jsCallback";
    var actionColumnJsCallback = $"{gridContainerId}actionColumnJsCallback";
}

<script>
    function @(actionJsCallback)(rowId) {
        alert(`action clicked: ${rowId}`);
    }
    function @(actionColumnJsCallback)(rowId) {
        alert(`row clicked: ${rowId}`);
    }
</script>

<div id="@gridContainerId"
     style="padding-left: 10%; width: 80%;">

    @await JQGridRenderViewComponent.RenderAsync(Component, Model.Grid)

</div>
