﻿@using WVS.GridHelper
@using WVS.GridHelper.Front.JQGrid.MVC
@using WVS.GridHelper.Interfaces
@using DemoShared.DAL
@using System.Collections.Generic
@using Demo.Controllers
@using WVS.GridHelper
@model Demo.Models.DemoViewModel
@Html.Partial("Header")

@{
    const string gridWrapperDivId = "gridWrapperDiv";
    Model.Grid.HtmlIdContainer = gridWrapperDivId;

    const string actionColumnJsCallback = "actionColumnJsCallback";
    Model.Grid.ActionColumns = new List<GridActionColumn> {
        new GridActionColumn{JavascriptCallback = actionColumnJsCallback, Title = "Some Action"},
        new GridActionColumn{Title = "'\"Action\"'", },
        new GridActionColumn{UrlColumnName = nameof(TestEntity.LinkString), Title = "Links", LinkTitle = "Some link title"},
    };

    const string actionJsCallback = "actionJsCallback";
    Model.Grid.Actions = new List<GridAction> {
        GridAction.Edit(actionJsCallback, "edit action description"),
        GridAction.Delete(actionJsCallback),
        new GridAction {
            ContentColumnName = nameof(TestEntity.Integer),
            ContentAlignment = Align.Left,
            Title = "Notes",
            FontAwesomeIcon = "comment-o",
            JavascriptCallback = actionJsCallback
        },
        new GridAction {
            ContentColumnName = nameof(TestEntity.Integer),
            ContentAlignment = Align.Center,
            Title = "Notes",
            FontAwesomeIcon = "comment-o",
        },
        new GridAction {
            ContentColumnName = nameof(TestEntity.Integer),
            ContentAlignment = Align.Right,
            Title = "'\"Stuff\"'",
            FontAwesomeIcon = "comment-o",
            JavascriptCallback = actionJsCallback
        },
        new GridAction {
            ConditionColumnName = nameof(TestEntity.DateTime),
            Title = "please don't",
            UseConfirmDialog = true,
            FontAwesomeIcon = "cog",
            JavascriptCallback = actionJsCallback
        },
    };

    const string rowSelectJsCallback = "rowSelectJsCallback";
    Model.Grid.OnRowSelect = rowSelectJsCallback;
}
<script>
    // TODO move Model.componentGridUrl to a parameter or other scope, it is probably breaking with multiple grids with different subgrid urls.
     function expandRow (subgrid_id, row_id) {
            var subgridTableId = subgrid_id + "_t";
         $("#" + subgrid_id).html("<table id='" + subgridTableId + "'></table>");
         $("#" + subgridTableId).load('@Html.Raw(Model.componentGridUrl)');
        }
</script>
<button type="button" id="simpleSearchButton">Simple Search</button>
<button type="button" id="refreshButton">Refresh</button>
<button type="button" id="loadButton">Load</button>

<div id="@gridWrapperDivId"
     style="padding: 5%;">


    @{Model.Grid.OnSubGridRowExpanded = "expandRow";}

    @*@Model.Grid.Render(this)*@@*legacy usage, make sure doesn't go away without checking agbmp.*@

    @*  Render the grid and initialization script. *@
    @JQGridRender.RenderJQGrid(Model.Grid, this)

</div>

<script>//# sourceURL=Index.cshtml

    function @(actionJsCallback)(rowId) {
        console.info(`action clicked: ${rowId}`);
    }

    function @(actionColumnJsCallback)(rowId) {
        console.info(`row clicked: ${rowId}`);
    }

    function @(rowSelectJsCallback)(rowId) {
        console.info(`row selected: ${rowId}`);
        var gridId = '@Model.Grid.HtmlIdGrid';
        var $grid = findGrid(gridId);

        // rowId is coming is as a 0 index, not the PK id. query the grid for the PK value.
        const selectedRowId = $grid.getCell(rowId, 'Id');
        console.info(`row id selected: ${rowId}`);
        const saveUrl = '@Model.editRowSaveUrl';
        const backendFlavor = (@Model.Backend) || 0;
        const editParameters = {
            oneditfunc: function (x) {
                console.info(`oneditfunc`);
                console.info(x);
            },
            successfunc: function (savedData) {
                // this callback receives the results of the save XHR.
                console.info(`successfunc`);
                console.info(savedData);

                return true;
                // return true to commit the input fields to the grid data.
                // return false to stay in edit mode.
            },
            url: saveUrl,
            extraparam: {
                // properties here are included in the posted model.
                rowId: selectedRowId,
                backendFlavor: backendFlavor
            },
            keys: true // If keys is true, then the remaining settings – successfunc, url, extraparam, aftersavefunc, errorfunc and afterrestorefunc - are passed as parameters to the saveRow method when the [Enter] key is pressed (saveRow does not need to be defined as jqGrid calls it automatically).
        };

        // open row for editing. all editable columns will turn into inputs by their editoptions.
        $grid.editRow(rowId, editParameters);
    }

    function findGrid(id) {
        var $grid = $('#' + id);
        if (!$grid.length)
            $grid = $('#gbox_' + id);
        return $grid;
    }


    $(function () {
        var id = '@Model.Grid.HtmlIdGrid';
        $('button#simpleSearchButton').click(searchClicked);
        $('button#refreshButton').click(refreshClicked);

        function refreshClicked() {
            var $grid = findGrid(id);
            if (!$grid.length) {
                console.error("can't find grid");
                debugger;
            }
            $grid.trigger("reloadGrid");
        }

        function searchClicked() {
            var id = '@Model.Grid.HtmlIdGrid';
            var $grid = findGrid(id);
            if (!$grid.length) {
                console.error("can't find grid");
                debugger;
            }
            $grid.jqGrid('searchGrid',
                {
                    sopt: ['cn', 'bw', 'eq', 'ne', 'ew'],
                    multipleSearch: false
                }
            );
        }
    });


    var localDataGridManager = (function () {
        var $grid;
        var data = [
            { "id": 0, "Id": 0, "String": "zveroone", "LinkString": "http://absoluteUrl", "Integer": 0, "Boolean": null, "Boolean2": null, "Decimal": 0.0, "DateTime": "2018-12-06T03:01:28.608209Z" },
            { "id": 1, "Id": 1, "String": "two", "LinkString": "RelativeUrl", "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 2, "Id": 2, "String": "three", "LinkString": null, "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 3, "Id": 3, "String": "four", "LinkString": null, "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 4, "Id": 4, "String": "five", "LinkString": null, "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 6, "Id": 6, "String": "FIVE", "LinkString": null, "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 7, "Id": 7, "String": "TWO", "LinkString": "/RootPathUrl", "Integer": null, "Boolean": null, "Boolean2": null, "Decimal": null, "DateTime": null },
            { "id": 929, "Id": 929, "String": "string930", "LinkString": null, "Integer": 929, "Boolean": true, "Boolean2": true, "Decimal": 929.0, "DateTime": "2016-05-20T22:01:28.6162084-04:00" },
            { "id": 930, "Id": 930, "String": "string931", "LinkString": null, "Integer": 930, "Boolean": false, "Boolean2": false, "Decimal": 930.0, "DateTime": "2016-05-19T22:01:28.6162084-04:00" },
            { "id": 931, "Id": 931, "String": "string932", "LinkString": null, "Integer": 931, "Boolean": true, "Boolean2": true, "Decimal": 931.0, "DateTime": "2016-05-18T22:01:28.6162084-04:00" },
            { "id": 932, "Id": 932, "String": "string933", "LinkString": null, "Integer": 932, "Boolean": false, "Boolean2": false, "Decimal": 932.0, "DateTime": "2016-05-17T22:01:28.6162084-04:00" },
            { "id": 933, "Id": 933, "String": "string934", "LinkString": null, "Integer": 933, "Boolean": true, "Boolean2": true, "Decimal": 933.0, "DateTime": "2016-05-16T22:01:28.6162084-04:00" },
            { "id": 934, "Id": 934, "String": "string935", "LinkString": null, "Integer": 934, "Boolean": false, "Boolean2": false, "Decimal": 934.0, "DateTime": "2016-05-15T22:01:28.6162084-04:00" },
            { "id": 935, "Id": 935, "String": "string936", "LinkString": null, "Integer": 935, "Boolean": true, "Boolean2": true, "Decimal": 935.0, "DateTime": "2016-05-14T22:01:28.6162084-04:00" },
            { "id": 936, "Id": 936, "String": "string937", "LinkString": null, "Integer": 936, "Boolean": false, "Boolean2": false, "Decimal": 936.0, "DateTime": "2016-05-13T22:01:28.6162084-04:00" },
            { "id": 937, "Id": 937, "String": "string938", "LinkString": null, "Integer": 937, "Boolean": true, "Boolean2": true, "Decimal": 937.0, "DateTime": "2016-05-12T22:01:28.6162084-04:00" },
            { "id": 938, "Id": 938, "String": "string939", "LinkString": null, "Integer": 938, "Boolean": false, "Boolean2": false, "Decimal": 938.0, "DateTime": "2016-05-11T22:01:28.6162084-04:00" },
            { "id": 939, "Id": 939, "String": "string940", "LinkString": null, "Integer": 939, "Boolean": true, "Boolean2": true, "Decimal": 939.0, "DateTime": "2016-05-10T22:01:28.6162084-04:00" },
            { "id": 940, "Id": 940, "String": "string941", "LinkString": null, "Integer": 940, "Boolean": false, "Boolean2": false, "Decimal": 940.0, "DateTime": "2016-05-09T22:01:28.6162084-04:00" },
            { "id": 941, "Id": 941, "String": "string942", "LinkString": null, "Integer": 941, "Boolean": true, "Boolean2": true, "Decimal": 941.0, "DateTime": "2016-05-08T22:01:28.6162084-04:00" },
            { "id": 942, "Id": 942, "String": "string943", "LinkString": null, "Integer": 942, "Boolean": false, "Boolean2": false, "Decimal": 942.0, "DateTime": "2016-05-07T22:01:28.6162084-04:00" },
            { "id": 943, "Id": 943, "String": "string944", "LinkString": null, "Integer": 943, "Boolean": true, "Boolean2": true, "Decimal": 943.0, "DateTime": "2016-05-06T22:01:28.6162084-04:00" },
            { "id": 944, "Id": 944, "String": "string945", "LinkString": null, "Integer": 944, "Boolean": false, "Boolean2": false, "Decimal": 944.0, "DateTime": "2016-05-05T22:01:28.6162084-04:00" },
            { "id": 945, "Id": 945, "String": "string946", "LinkString": null, "Integer": 945, "Boolean": true, "Boolean2": true, "Decimal": 945.0, "DateTime": "2016-05-04T22:01:28.6162084-04:00" },
            { "id": 946, "Id": 946, "String": "string947", "LinkString": null, "Integer": 946, "Boolean": false, "Boolean2": false, "Decimal": 946.0, "DateTime": "2016-05-03T22:01:28.6162084-04:00" }
        ];

        function getData() {
            return data;
        }

        function loadData() {
            console.debug('lets load data');
            console.debug(data);
            $grid.jqGrid('clearGridData')
                .jqGrid('setGridParam', { datatype: 'local', data: data })
                .trigger('reloadGrid');

        }

        function init() {
            $grid = $('#@Model.Grid.HtmlIdGrid');
        }

        return {
            loadData: loadData,
            getData: getData,
            init: init
        };
    })();
    $(function () {
        localDataGridManager.init();
        @if ((DemoController.BackendFlavor)Model.Backend == DemoController.BackendFlavor.Local) {
            <text>
            localDataGridManager.loadData();
            </text>
        }
    });

    $('button#loadButton').click(function () {
        localDataGridManager && localDataGridManager.loadData();
    });

</script>
